In [71]:
import os
import pyspark

myConf=pyspark.SparkConf()
spark=pyspark.sql.SparkSession\
    .builder\
    .master("local")\
    .appName("myApp")\
    .config(conf=myConf)\
    .getOrCreate()

## 문제 3-1: 이름으로 합계를 구해보자.

In [72]:
_std = ["'김하나','English',100","'김하나','Math',80",
        "'임하나','English',70","'임하나','Math',100",
        "'김갑돌','English',82.3","'김갑돌','Math',98.5"]

In [73]:
_stdRdd=spark.sparkContext.parallelize(_std)
_Names=_stdRdd.map(lambda x:x.split(","))
_Names.collect()

[["'김하나'", "'English'", '100'],
 ["'김하나'", "'Math'", '80'],
 ["'임하나'", "'English'", '70'],
 ["'임하나'", "'Math'", '100'],
 ["'김갑돌'", "'English'", '82.3'],
 ["'김갑돌'", "'Math'", '98.5']]

In [74]:
Names_count=_Names.map(lambda x:(x[0],float(x[2])))
NamesStdByKey=Names_count.combineByKey(lambda value: (value,1),
                             lambda x,value: (x[0]+value, x[1]+1),
                             lambda x,y: (x[0]+y[0], x[1]+y[1]))
sumByKey = NamesStdByKey.map(lambda x:(x[0],x[1][0]))

In [75]:
for i in sumByKey.collect():
    for each in i:
        print(each, end=" ")
    print()

'김하나' 180.0
'임하나' 170.0
'김갑돌' 180.8

## 문제 3-2: 과목으로 합계를 계산해 보자.

In [76]:
Sub_count=_Names.map(lambda x:(x[1],float(x[2])))
SubStdByKey=Sub_count.combineByKey(lambda value: (value,1),
                             lambda x,value: (x[0]+value, x[1]+1),
                             lambda x,y: (x[0]+y[0], x[1]+y[1]))
sumByKey = SubStdByKey.map(lambda x:(x[0],x[1][0]))

In [77]:
for i in sumByKey.collect():
    for each in i:
        print(each, end=" ")
    print()

'English' 252.3
'Math' 278.5

## 문제 3-3: 이름으로 합계과 개수를 구해보자.

In [78]:
for i in NamesStdByKey.collect():
    for each in i:
        print(each, end=" ")
    print()

'김하나' (180.0, 2)
'임하나' (170.0, 2)
'김갑돌' (180.8, 2)

## 문제 3-4: 이름으로 평균을 계산해 보자.

In [80]:
avgByKey = NamesStdByKey.map(lambda x: (x[0],x[1][0]/x[1][1]))

In [81]:
for i in avgByKey.collect():
    for each in i:
        print(each, end=" ")
    print()

'김하나' 90.0
'임하나' 85.0
'김갑돌' 90.4