# 201810904 김다혜 중간고사

## 문제 1: 열린데이터 수집

### 1) 프로그램으로 url을 만들어 출력. 그 url을 클릭하면 데이터가 출력 되어야 한다.

## 문제 1-1의 답

In [171]:
import json
import requests

url='http://openapi.seoul.go.kr:8088/5a4a4a795a6a696532346876586566/json/InfoTrdarAptQq/1/100/2021'
print(url)
r=requests.get(url)
my=r.json()

http://openapi.seoul.go.kr:8088/5a4a4a795a6a696532346876586566/json/InfoTrdarAptQq/1/100/2021

## 2) 전체 데이터 중 1건만 출력.

## 문제 1-2의 답

In [186]:
my["InfoTrdarAptQq"]["row"][0]

{'STDR_YY_CD': '2021',
 'TRDAR_SE_CD': 'A',
 'TRDAR_SE_CD_NM': '골목상권',
 'APT_HSMP_CO': 5.0,
 'AE_66_SQMT_BELO_HSHLD_CO': 32.0,
 'AE_66_SQMT_HSHLD_CO': 0.0,
 'AE_99_SQMT_HSHLD_CO': 0.0,
 'AE_132_SQMT_HSHLD_CO': 0.0,
 'AE_165_SQMT_HSHLD_CO': 0.0,
 'PC_1_HDMIL_BELO_HSHLD_CO': 0.0,
 'PC_1_HDMIL_HSHLD_CO': 32.0,
 'PC_2_HDMIL_HSHLD_CO': 0.0,
 'PC_3_HDMIL_HSHLD_CO': 0.0,
 'PC_4_HDMIL_HSHLD_CO': 0.0,
 'PC_5_HDMIL_HSHLD_CO': 0.0,
 'PC_6_HDMIL_ABOVE_HSHLD_CO': 0.0,
 'AVRG_AE': 44.0,
 'AVRG_MKTC': 150247619.0,
 'STDR_QU_CD': '1',
 'TRDAR_CD': '1000975',
 'TRDAR_CD_NM': '동남로82길'}

## 3) 다음 항목을 100개 정렬해서 출력.

## 문제 3-3의 답

In [200]:
for i in my['InfoTrdarAptQq']['row']:
    print ("{0:1}\t{1:1}\t{2:1}\t{3:1}\t{4:1}"\
           .format(i['TRDAR_SE_CD_NM'], e['APT_HSMP_CO'],\
                   i[ 'PC_6_HDMIL_ABOVE_HSHLD_CO'], i[ 'AVRG_MKTC'], i[ 'TRDAR_CD_NM']))

골목상권	9.0	0.0	150247619.0	동남로82길
발달상권	9.0	0.0	161157476.0	당산역_2
발달상권	9.0	0.0	81750000.0	서울 성북구 안암역
전통시장	9.0	1.0	183067389.0	길동복조리시장
관광특구	9.0	87.0	409473123.0	이태원 관광특구
관광특구	9.0	271.0	237967427.0	동대문패션타운 관광특구
관광특구	9.0	0.0	112097903.0	종로·청계 관광특구
관광특구	9.0	1156.0	527347107.0	잠실 관광특구
골목상권	9.0	22.0	249322039.0	계동길
골목상권	9.0	0.0	87700490.0	난계로27길
골목상권	9.0	0.0	161118305.0	돈화문로11가길
골목상권	9.0	0.0	105457249.0	명륜길
골목상권	9.0	0.0	214023214.0	백석동길
골목상권	9.0	0.0	213246032.0	북촌로11길
골목상권	9.0	2.0	443000000.0	북촌로5길
골목상권	9.0	6.0	430007143.0	북촌로5나길
골목상권	9.0	2.0	572000000.0	삼청로5길
골목상권	9.0	0.0	152368531.0	성균관로5길
골목상권	9.0	0.0	141952840.0	숭인동길
골목상권	9.0	0.0	177741821.0	옥인길
골목상권	9.0	0.0	112279412.0	율곡로16길
골목상권	9.0	0.0	153940955.0	이화장길
골목상권	9.0	0.0	256264683.0	자하문로7길
골목상권	9.0	0.0	81284178.0	종로58가길
골목상권	9.0	0.0	124591950.0	종로65길
골목상권	9.0	0.0	185365873.0	지봉로8길
골목상권	9.0	0.0	142664918.0	창경궁로35길
골목상권	9.0	0.0	107096078.0	창신2길
골목상권	9.0	0.0	95141667.0	창신5길
골목상권	9.0	0.0	116533576.0	창신길
골목상권	9.0	0.0	99746000.0	통일로12길
골목상권	9.0	30.0	309926113.0	평창길
골목상권	9.0	0.0	229306432.0	필운대로1길
골목상권	9.0	33.0	272737678.0	난계로11길
골목상권	9.0	0.0	157574074.0	난계로21길
골목상권	9.0	0.0	153392079.0	다산로33길
골목상권	9.0	0.0	179132297.0	다산로36길
골목상권	9.0	1.0	242063093.0	다산로38길
골목상권	9.0	0.0	176972222.0	다산로39길
골목상권	9.0	0.0	181864758.0	동호로10길
골목상권	9.0	0.0	124396733.0	동호로11길
골목상권	9.0	12.0	208647667.0	동호로15길
골목상권	9.0	43.0	307355149.0	동호로20길
골목상권	9.0	0.0	155018621.0	동호로8길
골목상권	9.0	1.0	184979178.0	장충단로8길
골목상권	9.0	0.0	206531628.0	청구로17길
골목상권	9.0	0.0	189915947.0	청구로1길
골목상권	9.0	0.0	167530465.0	퇴계로12길
골목상권	9.0	0.0	168158730.0	퇴계로18길
골목상권	9.0	0.0	119134454.0	퇴계로46길
골목상권	9.0	0.0	130876389.0	퇴계로56길
골목상권	9.0	0.0	213297572.0	퇴계로8길
골목상권	9.0	0.0	170019584.0	퇴계로90길
골목상권	9.0	0.0	250343750.0	녹사평대로11길
골목상권	9.0	0.0	380352237.0	녹사평대로26길
골목상권	9.0	5.0	382973462.0	녹사평대로32길
골목상권	9.0	13.0	463599167.0	녹사평대로40나길
골목상권	9.0	5.0	291820883.0	녹사평대로46길
골목상권	9.0	84.0	559442404.0	대사관로34길
골목상권	9.0	0.0	294402723.0	두텁바위로1길
골목상권	9.0	16.0	242145926.0	백범로79길
골목상권	9.0	709.0	496683400.0	백범로90길
골목상권	9.0	244.0	662098926.0	서빙고로71길
골목상권	9.0	1.0	200752888.0	소월로20길
골목상권	9.0	4.0	171466325.0	신흥로20길
골목상권	9.0	129.0	614161825.0	우사단로10길
골목상권	9.0	127.0	654105268.0	우사단로14길
골목상권	9.0	12.0	489858622.0	우사단로4길
골목상권	9.0	5.0	269352177.0	원효로19길
골목상권	9.0	0.0	281720858.0	원효로41길
골목상권	9.0	0.0	228417439.0	원효로53길
골목상권	9.0	0.0	215459650.0	원효로89길
골목상권	9.0	10.0	387698359.0	이촌로22길
골목상권	9.0	19.0	483746950.0	이태원로27길
골목상권	9.0	109.0	480723433.0	이태원로54길
골목상권	9.0	106.0	573284176.0	장문로45길
골목상권	9.0	0.0	166160048.0	청파로47길
골목상권	9.0	4.0	220994083.0	청파로47나길
골목상권	9.0	0.0	215433642.0	청파로71길
골목상권	9.0	0.0	219067232.0	청파로73길
골목상권	9.0	240.0	341969048.0	한강대로104길
골목상권	9.0	151.0	457474986.0	한강대로15길
골목상권	9.0	431.0	989166024.0	한강대로43길
골목상권	9.0	1.0	286364302.0	한강대로52길
골목상권	9.0	1.0	364824342.0	한강대로62길
골목상권	9.0	12.0	419996429.0	한강대로7길
골목상권	9.0	58.0	352673085.0	한남대로20길
골목상권	9.0	40.0	349667714.0	회나무로13길
골목상권	9.0	0.0	231388058.0	효창원로39길
골목상권	9.0	21.0	277169594.0	후암로28길
골목상권	9.0	0.0	201004295.0	고산자로6길
골목상권	9.0	0.0	182191459.0	금호산2길
골목상권	9.0	0.0	200790347.0	금호산길
골목상권	9.0	9.0	451650381.0	둘레9길
골목상권	9.0	144.0	318029114.0	뚝섬로5길
골목상권	9.0	0.0	140662018.0	마장로27길
골목상권	9.0	0.0	261575022.0	마장로39길
골목상권	9.0	0.0	228218098.0	마조로16길
골목상권	9.0	0.0	149740447.0	마조로1길
골목상권	9.0	1530.0	599287898.0	매봉길

## 문제 2: RDD를 사용해서 단어빈도 계산

In [144]:
yesterday=[

    ["Yesterday 어제는"],

    ["All my troubles seemed to far away 내 모든 문제들이 참 멀리 있는 것 같았는데"],

    ["Now it looks as though they're here to stay 이제는 그 모든 문제들이 여기에 있는 것처럼 보여"],

    ["Oh, I believe in yesterday 오, 어제가 좋았는데"],

    ["Suddenly 갑자기 그-림-자-가 2021 그-림-자-가 2021"],

    ["I'm not half the man I used to be 난 예전 내 모습의 반도 못한 사람이 되어버렸어"],

    ["There's a shadow hanging over me 내 위에 그림자가 드리워져 있네"],

    ["Oh!, yesterday came suddenly 오!, 이제는 너무 갑자기 와버렸어.."],

]

In [189]:
myRdd = spark.sparkContext.parallelize(yesterday)

## 1) 단어빈도를 계산해서 출력

### 풀지못함

## 2) 빈도순으로 출력, 빈도 1이하는 제외.

### 풀지못함

## 3) 소문자, 하이픈, 느낌표, 숫자를 제외하고 단어빈도 계산해서 출력 (빈도 1이하는 제외)

### 풀지못함

## 4) 1글자 단어 (예를 들어 'i', '내') 제외하고 단어빈도 계산 (빈도 1이하는 제외)

### 풀지못함

## 문제 3: DataFrame을 사용해서 코로나 발생동향 분석

In [107]:
import pyspark
import os
myConf = pyspark.SparkConf()
spark = pyspark.sql.SparkSession\
    .builder\
    .master("local")\
    .appName("myApp")\
    .config(conf=myConf)\
    .getOrCreate()

In [108]:
myDf= spark.read.json(os.path.join("data","서울특별시 코로나19 자치구별 확진자 발생동향.json"))

### 1) 전체 건수 출력. null 값을 제외한 null 건수 출력 (null이 남아있는지 확인하기 위해)

### 문제 1-1 답

In [109]:
myDf.show()

+--------------------+----+------+------+---------+-------+----------+----+-----+----+------+-------+----------+--------+-----------+-------+----------+-------+----------+---------+------------+----+-------+------+---------+--------+-----------+-------------+------+---------+------+---------+--------+-----------+----+-------+-----+--------+----+------+------+---------+--------+-----------+---------+------------+------+---------+-------------+---------+------------+----+------+-------+----------+
|     _corrupt_record| ddm|ddmadd|dobong|dobongadd|dongjak|dongjakadd|  ep|epadd| etc|etcadd|gangbuk|gangbukadd|gangdong|gangdongadd|gangnam|gangnamadd|gangseo|gangseoadd|geumcheon|geumcheonadd|guro|guroadd|gwanak|gwanakadd|gwangjin|gwangjinadd|       jcg_dt|jongno|jongnoadd|junggu|jungguadd|jungnang|jungnangadd|mapo|mapoadd|nowon|nowonadd| sdm|sdmadd|seocho|seochoadd|seongbuk|seongbukadd|seongdong|seongdongadd|songpa|songpaadd|    work_dttm|yangcheon|yangcheonadd| ydp|ydpadd|yongsan|yongsanadd|
+--------------------+----+------+------+---------+-------+----------+----+-----+----+------+-------+----------+--------+-----------+-------+----------+-------+----------+---------+------------+----+-------+------+---------+--------+-----------+-------------+------+---------+------+---------+--------+-----------+----+-------+-----+--------+----+------+------+---------+--------+-----------+---------+------------+------+---------+-------------+---------+------------+----+------+-------+----------+
|                   {|null|  null|  null|     null|   null|      null|null| null|null|  null|   null|      null|    null|       null|   null|      null|   null|      null|     null|        null|null|   null|  null|     null|    null|       null|         null|  null|     null|  null|     null|    null|       null|null|   null| null|    null|null|  null|  null|     null|    null|       null|     null|        null|  null|     null|         null|     null|        null|null|  null|   null|      null|
|"DESCRIPTION" : {...|null|  null|  null|     null|   null|      null|null| null|null|  null|   null|      null|    null|       null|   null|      null|   null|      null|     null|        null|null|   null|  null|     null|    null|       null|         null|  null|     null|  null|     null|    null|       null|null|   null| null|    null|null|  null|  null|     null|    null|       null|     null|        null|  null|     null|         null|     null|        null|null|  null|   null|      null|
|          "DATA" : [|null|  null|  null|     null|   null|      null|null| null|null|  null|   null|      null|    null|       null|   null|      null|   null|      null|     null|        null|null|   null|  null|     null|    null|       null|         null|  null|     null|  null|     null|    null|       null|null|   null| null|    null|null|  null|  null|     null|    null|       null|     null|        null|  null|     null|         null|     null|        null|null|  null|   null|      null|
|                null|4272|    24|  2987|        8|   4654|        16|4903|   16|7981|    32|   3123|        18|    4494|         37|   7699|        36|   5001|        31|     2608|          40|5460|     55|  5989|       13|    3916|         12|2021.10.23.00|  2036|       13|  2004|       14|    4273|         11|4191|     15| 4503|      26|3081|    14|  4607|       19|    4399|         27|     3179|           6|  7107|       13|1634958703000|     3688|           9|5211|    34|   3076|        12|
|                null|4248|    30|  2979|       11|   4638|        29|4887|   21|7949|    37|   3105|        11|    4457|         26|   7664|        32|   4970|        21|     2568|          14|5405|     36|  5976|       22|    3904|         10|2021.10.22.00|  2023|       15|  1989|        6|    4262|         24|4176|     12| 4477|      23|3067|    10|  4588|       15|    4372|         21|     3173|          14|  7094|       24|1634897503000|     3679|          14|5177|    32|   3064|         9|
|                null|4218|    22|  2968|       13|   4609|        28|4866|   21|7912|    30|   3094|        15|    4431|         13|   7632|        22|   4949|        14|     2554|          14|5369|     42|  5954|       30|    3894|         13|2021.10.21.00|  2008|       19|  1983|       15|    4238|         14|4164|      7| 4454|      27|3057|    14|  4573|       17|    4351|         21|     3159|           8|  7070|       23|1634811103000|     3665|          24|5145|    34|   3055|         6|
|                null|4197|    20|  2955|       10|   4581|        24|4845|   18|7885|    24|   3080|        17|    4418|         21|   7609|        20|   4935|        18|     2540|          14|5328|     60|  5924|       22|    3881|         13|2021.10.20.00|  1989|       13|  1968|        9|    4224|         20|4157|     23| 4428|      22|3043|    16|  4556|       11|    4324|         17|     3151|          13|  7047|       19|1634724703000|     3641|          13|5111|    39|   3049|         8|
|                null|4177|    12|  2945|        7|   4557|        22|4827|    9|7861|    13|   3063|         9|    4397|         16|   7589|        19|   4917|        16|     2526|          14|5268|     24|  5902|        9|    3868|          9|2021.10.19.00|  1977|        9|  1959|        2|    4204|         15|4134|      7| 4406|      18|3027|     3|  4545|        4|    4307|         13|     3138|           6|  7028|       13|1634638303000|     3628|           9|5072|    10|   3041|        10|
|                null|4165|    10|  2938|       10|   4535|        12|4818|    9|7846|    25|   3054|         9|    4381|         20|   7570|        20|   4901|        13|     2512|          18|5244|     39|  5893|       16|    3859|          8|2021.10.18.00|  1968|       13|  1960|        4|    4189|         13|4127|      6| 4387|      10|3024|     7|  4541|        5|    4294|         25|     3132|          13|  7015|       14|1634551903000|     3619|           5|5062|    23|   3031|         8|
|                null|4155|    18|  2928|       13|   4523|        21|4809|   28|7818|    36|   3045|        11|    4361|         29|   7550|        29|   4888|        22|     2494|          17|5205|     54|  5877|       19|    3851|         10|2021.10.17.00|  1958|        9|  1956|        8|    4176|         19|4121|      9| 4377|      18|3017|    16|  4536|        6|    4269|         20|     3119|          17|  7001|       18|1634465503000|     3614|           9|5039|    32|   3023|        18|
|                null|4137|    20|  2915|        8|   4502|        22|4781|   31|7781|    28|   3034|        17|    4332|         29|   7521|        36|   4866|        11|     2477|          23|5151|     76|  5858|       36|    3841|         10|2021.10.16.00|  1949|       21|  1949|       11|    4157|         18|4112|     10| 4359|      22|3001|    18|  4530|        9|    4249|         31|     3102|          15|  6983|       31|1634379103000|     3605|           6|5007|    36|   3006|        11|
|                null|4117|    44|  2907|       16|   4480|        20|4750|   33|7756|    32|   3017|        26|    4303|         26|   7485|        33|   4855|        15|     2454|          33|5075|     84|  5822|       24|    3832|         25|2021.10.15.00|  1925|       25|  1938|        8|    4139|         28|4102|     20| 4337|      22|2983|    25|  4521|       10|    4218|         30|     3087|          15|  6952|       29|1634292702000|     3599|           8|4971|    31|   2995|        19|
|                null|4073|    30|  2891|       22|   4460|        26|4717|   41|7722|    46|   2993|        22|    4277|         35|   7450|        42|   4840|        19|     2421|          38|4991|     73|  5798|       37|    3807|         23|2021.10.14.00|  1900|       21|  1930|        8|    4111|         25|4082|     22| 4315|      38|2960|    11|  4511|       11|    4188|         27|     3072|           8|  6923|       35|1634206302000|     3592|          16|4940|    53|   2976|        19|
|                null|4043|    32|  2869|       10|   4434|        13|4677|   27|7676|    31|   2971|        16|    4242|         24|   7408|        37|   4821|        24|     2384|          17|4918|     59|  5761|       23|    3784|         12|2021.10.13.00|  1879|       14|  1922|        9|    4086|         25|4060|     25| 4277|      26|2949|    16|  4500|       15|    4161|         29|     3064|          12|  6888|       30|1634119902000|     3576|           9|4888|    29|   2957|        19|
|                null|4011|    19|  2859|        7|   4421|        20|4650|   15|7635|    27|   2969|        31|    4218|         15|   7371|        48|   4797|        23|     2367|          11|4860|     35|  5738|       15|    3772|         18|2021.10.12.00|  1865|       12|  1913|        5|    4061|         17|4035|     12| 4251|      19|2933|    14|  4485|        9|    4132|         24|     3052|          11|  6858|       19|1634033502000|     3567|          17|4859|    17|   2938|        22|
|                null|3992|    25|  2852|       19|   4401|        14|4635|   19|7608|    22|   2938|        15|    4203|         20|   7323|        27|   4774|        16|     2356|          28|4825|     51|  5723|       20|    3754|         24|2021.10.11.00|  1853|       11|  1908|        9|    4044|         17|4023|     11| 4232|      34|2919|     8|  4476|       13|    4108|         21|     3041|          15|  6839|       24|1633947102000|     3550|          13|4842|    25|   2916|        10|
|                null|3967|    29|  2833|       12|   4387|        23|4616|   31|7586|    29|   2923|        21|    4183|         31|   7296|        28|   4758|        23|     2328|          23|4774|     64|  5703|       24|    3730|         24|2021.10.10.00|  1842|       11|  1899|        7|    4027|         21|4012|     18| 4198|      24|2911|    12|  4463|        7|    4087|         22|     3026|           7|  6815|       35|1633860702000|     3537|           9|4817|    20|   2906|        28|
|                null|3938|    55|  2821|       12|   4364|        32|4584|   28|7557|    38|   2903|        32|    4151|         26|   7268|        35|   4735|        27|     2305|          29|4710|     51|  5679|       21|    3706|         15|2021.10.09.00|  1831|       16|  1892|       17|    4006|         21|3994|     26| 4174|      30|2899|    26|  4456|       15|    4066|         34|     3019|          14|  6780|       35|1633774302000|     3528|          22|4797|    30|   2878|        25|
|                null|3881|    39|  2809|       22|   4331|        31|4553|   36|7529|    32|   2870|        31|    4124|         41|   7235|        31|   4708|        24|     2275|          25|4658|     56|  5658|       25|    3691|         20|2021.10.08.00|  1816|       30|  1875|       12|    3984|         36|3969|     34| 4150|      38|2874|    21|  4440|       22|    4031|         31|     3005|          10|  6740|       44|1633687902000|     3505|          31|4768|    41|   2853|        13|
|                null|3843|    51|  2787|       30|   4299|        22|4517|   39|7498|    63|   2839|        34|    4083|         46|   7204|        22|   4684|        35|     2250|          20|4601|     65|  5633|       25|    3671|         17|2021.10.07.00|  1785|       25|  1864|       25|    3948|         26|3935|     24| 4112|      36|2853|    20|  4418|       24|    4001|         36|     2995|          10|  6696|       52|1633601502000|     3474|          31|4728|    44|   2840|        15|
+--------------------+----+------+------+---------+-------+----------+----+-----+----+------+-------+----------+--------+-----------+-------+----------+-------+----------+---------+------------+----+-------+------+---------+--------+-----------+-------------+------+---------+------+---------+--------+-----------+----+-------+-----+--------+----+------+------+---------+--------+-----------+---------+------------+------+---------+-------------+---------+------------+----+------+-------+----------+
only showing top 20 rows

In [110]:
myDf2=myDf.select("jongno","mapo","yongsan")

In [114]:
myDf2.show()

+------+----+-------+
|jongno|mapo|yongsan|
+------+----+-------+
|  2036|4191|   3076|
|  2023|4176|   3064|
|  2008|4164|   3055|
|  1989|4157|   3049|
|  1977|4134|   3041|
|  1968|4127|   3031|
|  1958|4121|   3023|
|  1949|4112|   3006|
|  1925|4102|   2995|
|  1900|4082|   2976|
|  1879|4060|   2957|
|  1865|4035|   2938|
|  1853|4023|   2916|
|  1842|4012|   2906|
|  1831|3994|   2878|
|  1816|3969|   2853|
|  1785|3935|   2840|
|  1760|3911|   2825|
|  1745|3889|   2814|
|  1733|3869|   2805|
+------+----+-------+
only showing top 20 rows

In [116]:
myDf2.printSchema()

root
 |-- jongno: string (nullable = true)
 |-- mapo: string (nullable = true)
 |-- yongsan: string (nullable = true)

## 2) (null제거하고) 종로, 마포, 용산, 합계 (종로, 마포, 용산) 10건 출력

In [112]:
from pyspark.sql import functions as F
myDf2=myDf2.na.drop('any')

In [125]:
from pyspark.sql.types import IntegerType

myDf2=myDf2.withColumn("jongno2", F.col('jongno').cast(IntegerType()))
myDf2=myDf2.withColumn("mapo2", F.col('mapo').cast(IntegerType()))
myDf2=myDf2.withColumn("yongsan2", F.col('yongsan').cast(IntegerType()))

+------+----+-------+-------+-----+--------+------+
|jongno|mapo|yongsan|jongno2|mapo2|yongsan2|   tot|
+------+----+-------+-------+-----+--------+------+
|  2036|4191|   3076|   2036| 4191|    3076|9303.0|
|  2023|4176|   3064|   2023| 4176|    3064|9263.0|
|  2008|4164|   3055|   2008| 4164|    3055|9227.0|
|  1989|4157|   3049|   1989| 4157|    3049|9195.0|
|  1977|4134|   3041|   1977| 4134|    3041|9152.0|
|  1968|4127|   3031|   1968| 4127|    3031|9126.0|
|  1958|4121|   3023|   1958| 4121|    3023|9102.0|
|  1949|4112|   3006|   1949| 4112|    3006|9067.0|
|  1925|4102|   2995|   1925| 4102|    2995|9022.0|
|  1900|4082|   2976|   1900| 4082|    2976|8958.0|
+------+----+-------+-------+-----+--------+------+
only showing top 10 rows

In [126]:
myDf2=myDf2.drop("jongno").drop("mapo").drop("yongsan")

## 문제 3-2의 답

In [130]:
myDf2= myDf2.withColumn("tot", F.col("jongno2")+F.col("mapo2")+F.col("yongsan2"))
myDf2=myDf2.withColumnRenamed("jongno2","jongno")
myDf2=myDf2.withColumnRenamed("mapo2","mapo")
myDf2=myDf2.withColumnRenamed("yongsan2","yongsan")
myDf2.show(10)

+------+----+-------+----+
|jongno|mapo|yongsan| tot|
+------+----+-------+----+
|  2036|4191|   3076|9303|
|  2023|4176|   3064|9263|
|  2008|4164|   3055|9227|
|  1989|4157|   3049|9195|
|  1977|4134|   3041|9152|
|  1968|4127|   3031|9126|
|  1958|4121|   3023|9102|
|  1949|4112|   3006|9067|
|  1925|4102|   2995|9022|
|  1900|4082|   2976|8958|
+------+----+-------+----+
only showing top 10 rows

## 3) (null제거하고) 종로구의 2020년 3월 데이터 출력.

In [132]:
myDf3=myDf.select("jcg_dt","jongno")

In [135]:
myDf3=myDf3.na.drop('any')
myDf3.show()

+-------------+------+
|       jcg_dt|jongno|
+-------------+------+
|2021.10.23.00|  2036|
|2021.10.22.00|  2023|
|2021.10.21.00|  2008|
|2021.10.20.00|  1989|
|2021.10.19.00|  1977|
|2021.10.18.00|  1968|
|2021.10.17.00|  1958|
|2021.10.16.00|  1949|
|2021.10.15.00|  1925|
|2021.10.14.00|  1900|
|2021.10.13.00|  1879|
|2021.10.12.00|  1865|
|2021.10.11.00|  1853|
|2021.10.10.00|  1842|
|2021.10.09.00|  1831|
|2021.10.08.00|  1816|
|2021.10.07.00|  1785|
|2021.10.06.00|  1760|
|2021.10.05.00|  1745|
|2021.10.04.00|  1733|
+-------------+------+
only showing top 20 rows

## 문제 3-3의 답

In [139]:
myDf3.filter(myDf3['jcg_dt'].substr(1,7)=='2020.03').show()

+-------------+------+
|       jcg_dt|jongno|
+-------------+------+
|2020.03.31.10|    13|
|2020.03.30.10|    13|
|2020.03.29.10|    13|
|2020.03.28.10|    13|
|2020.03.27.00|    13|
|2020.03.26.00|    13|
|2020.03.25.00|    13|
|2020.03.24.00|    12|
|2020.03.23.00|    11|
|2020.03.22.00|    11|
|2020.03.21.00|    11|
|2020.03.20.00|    11|
|2020.03.19.00|    11|
|2020.03.18.00|    11|
|2020.03.17.10|    11|
|2020.03.16.10|    11|
|2020.03.15.10|    11|
|2020.03.14.10|    11|
|2020.03.13.10|    11|
|2020.03.12.10|    11|
+-------------+------+
only showing top 20 rows

## 4) (null제거하고) 년 x 월별 합계 10건 출력.

In [161]:
myDf = myDf.withColumn("year", myDf["jcg_dt"].substr(1,4))
myDf = myDf.withColumn("month", myDf["jcg_dt"].substr(6,2))
myDf4 = myDf.select("year","month","jongno","mapo","yongsan" )

+----+-----+------+----+-------+------+
|year|month|jongno|mapo|yongsan|   tot|
+----+-----+------+----+-------+------+
|2021|   10|  2036|4191|   3076|9303.0|
|2021|   10|  2023|4176|   3064|9263.0|
|2021|   10|  2008|4164|   3055|9227.0|
|2021|   10|  1989|4157|   3049|9195.0|
|2021|   10|  1977|4134|   3041|9152.0|
|2021|   10|  1968|4127|   3031|9126.0|
|2021|   10|  1958|4121|   3023|9102.0|
|2021|   10|  1949|4112|   3006|9067.0|
|2021|   10|  1925|4102|   2995|9022.0|
|2021|   10|  1900|4082|   2976|8958.0|
|2021|   10|  1879|4060|   2957|8896.0|
|2021|   10|  1865|4035|   2938|8838.0|
|2021|   10|  1853|4023|   2916|8792.0|
|2021|   10|  1842|4012|   2906|8760.0|
|2021|   10|  1831|3994|   2878|8703.0|
|2021|   10|  1816|3969|   2853|8638.0|
|2021|   10|  1785|3935|   2840|8560.0|
|2021|   10|  1760|3911|   2825|8496.0|
|2021|   10|  1745|3889|   2814|8448.0|
|2021|   10|  1733|3869|   2805|8407.0|
+----+-----+------+----+-------+------+
only showing top 20 rows

## 문제 3-4의 답

In [162]:
myDf4.groupBy("year").pivot("month").agg({"tot":"sum"}).show()

+----+-------+-------+-------+-------+-------+--------+--------+--------+--------+--------+-------+-------+
|year|     01|     02|     03|     04|     05|      06|      07|      08|      09|      10|     11|     12|
+----+-------+-------+-------+-------+-------+--------+--------+--------+--------+--------+-------+-------+
|2020|   null|   24.0|  705.0| 1652.0| 2237.0|  2922.0|  3821.0|  5859.0| 10218.0| 12458.0|14872.0|32010.0|
|2021|53443.0|58335.0|74464.0|81600.0|98955.0|106726.0|141276.0|183369.0|217221.0|202758.0|   null|   null|
+----+-------+-------+-------+-------+-------+--------+--------+--------+--------+--------+-------+-------+